@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* Primary */
    --pale-blue: #e0e8ff;
    --bright-blue: #3829e0;

    /* Neutral */
    --very-pale-blue: #f5f7ff;
    --desaturated-blue: #7280a7;
    --dark-blue: #1f2f56;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}

body {
    width: 100%;
    font-size: 16px;
    background-color: #e0e8ff;
}

.frame {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    margin-top: -150px;
    margin-left: -200px;
    border-radius: 15px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    background: hsl(0, 0%, 100%);
    padding-bottom: 8px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/******* IMAGEN ********/
.frame-img {
    overflow: hidden;
    max-width: 350px;
    max-height: 300px;
    border-top-left-radius:inherit;
    border-top-right-radius:inherit;
}

.frame-img img {
    width: 100%;
}

/******* CONTENT ********/
.frame .frame-content {
    display: grid;
    place-items: center;
    margin: 20px auto;
    padding: 0.5em;
}

.frame-content .frame-paragraph {
    text-align: center;
}

.frame-paragraph h1 {
    font-weight: 900;
    font-size: 1.5em;
    color: var(--dark-blue);
}

.frame-paragraph p {
    color: var(--desaturated-blue);
    font-size: 16px;
}

.frame-paragraph h1, p {
    margin-bottom: 20px;

}

/******* ENLACE ********/
.frame-content .frame-link {
   background-color:  var(--very-pale-blue);
   padding: 10px 15px;
   border-radius: 10px;
   margin-bottom: 25px;
}

.frame-link ul   {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
}

ul li:nth-child(2) {
    font-weight: 700;
    color: var(--dark-blue);
}

ul li:nth-child(3) {
    margin-left: 2.5em;
}

ul li span {
    color: var(--desaturated-blue);
    font-weight: 100;
    font-size: 14px;
}

ul li a {
    font-weight: 600;
}
ul li a:hover {
    text-decoration: none;
    color: hsla(245, 75%, 52%, 0.702);
    cursor: pointer;
}

/******* btn ********/

.frame-content .frame-btn {
    min-width: 280px;
}

.frame-btn button {
    background-color: var(--bright-blue);
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    font-weight: 500;
    color:#fff;
    -webkit-box-shadow: 2px 18px 17px -11px rgba(143,164,217,1);
    -moz-box-shadow: 2px 18px 17px -11px rgba(143,164,217,1);
    box-shadow: 2px 18px 17px -11px rgba(143,164,217,1);
}

.frame-btn button:hover {
    background-color: hsla(245, 75%, 52%, 0.678);
    cursor: pointer;
}

.frame-btn span {
    margin-top: 15px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--desaturated-blue);
}

.frame-btn span:hover {
    color: var(--dark-blue);
    cursor: pointer;
}
/* footer */
.attribution {
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: -125px;
    margin-left: -150px;
}


.attribution a { color: hsl(228, 45%, 44%); }

/*********** WAVE ********** */
.bg-wave-deskptop  svg, .bg-wave-mobile svg {
    z-index: 1;
}

.bg-wave-mobile svg {
    visibility: hidden;
}

/******* MOBILE RESP ********/

@media (max-width:725px) {
    .attribution {
        display: none;
    }

}

@media (max-width:375px) {
    body {
        width: 375px;
        height: 667px;
    }
    .frame {
        margin-left:-175px ;
    }

    .bg-wave-deskptop  svg{
        visibility: hidden;
    }
    
    .bg-wave-mobile svg {
        visibility: visible;
    }
    
}
